<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/gameJavascript.js}" ></script>
</head>
<body>
<h1>Test Page for Card Game</h1>
Current time is <span th:text="${serverTime}" />
<br>
Waiting for Players ( <span th:text="${numPlayers}" /> players left to join)
<br><br><br>
<form action="/waitingPlayers" method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <input type="submit" value="Start Game">
</form>

<p id="demo2"></p>

<script>
document.getElementById("demo2").innerHTML = "Hello JavaScript!!";
</script>

<p id="demo"></p>
<button type="button"
        onclick="displayDate()">
    Click me to display Date and Time.</button>

<button type="button" onclick="myFunction()">Try it</button>
<p id="demo3"></p>


<div id="testTestFile">
    <p>Let AJAX change this text.</p>
    <button type="button" onclick="testingData()">Change Content</button>
</div>


<form id="playerCardForm">
    <div>
        <label for="playerCardField">Enter the card you want to play?</label>
        <input name="playerCard" id="playerCardField">
        <button type="button" onclick="playerCardFunction()">Place Card</button>
        <p id="playerCardWarning"></p>
    </div>
</form>

</body>
</html>