<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player 1 Host</title>
    <script type="text/javascript" th:src="@{/gameJavascript.js}" ></script>
</head>
<body>
<h1>Player 1 Page</h1>
Welcome Player 1
<br>
<h2>Score Board </h2>
<span th:text="${scoreBoardText}" />
<br>
<h2>Console Output</h2>
<br>
Turn Order Direction: <span  th:text="${turnOrderDirection}" /> <br>
<span th:text="${allPlayerMessage}" />
<br>
<br>
<h4>Players Hand </h4>
<br>
<span th:text="${PlayerHand}" />
<br>
<br>

<form id="playerCardForm">
    <div>
        <label for="playerCardField">Enter the card you want to play?</label>
        <input name="playerCard" id="playerCardField">
        <button type="button" onclick="playerCardFunction()" id="playerCardButton">Place Card</button>
        <button type="button" onclick="drawCardFunctionHost()" id="drawCardButton">Draw A Card</button>
        <br>
        <label for="playerSuitField">If playing an 8 choose a Suit?</label>
        <input name="playerSuit" id="playerSuitField" value="NONE">
        <p id="playerCardWarning"></p>
    </div>
</form>


<script>
            window.setTimeout(function(){
                window.location.reload();
            },5001);
</script>

</body>
</html>