<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Confirming Number of Players</h1>

<br>
Are you sure you will be playing with <span th:text="${numPlayers}" /> players
<br><br>

<form action="/" method="GET" id="backButtonForm">
    <div>
        <button id="backButton">Go Back</button>
    </div>
</form>

<form action="/host" method="GET" id="startGameButtonForm">
    <div>
        <button id="startGameButton">Start Game</button>
    </div>
</form>


</body>
</html>