<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Game Page</title>
    <script type="text/javascript" th:src="@{/gameJavascript.js}" ></script>
</head>
<body>
<h1>Player <span th:text="${playerNumberTitle}" /> Page</h1>
Welcome Player <span th:text="${playerNumberBody}" />
<br>
<br>
<h2>Console Output</h2>
<br>
Turn Order Direction: <span  th:text="${turnOrderDirection}" /> <br>
<span th:text="${allPlayerMessage}" />
<br>
<br>
<h4>Players Hand </h4>
<br>
<span th:text="${PlayerHand}" />
<br>
<br>

<form id="playerCardForm">
    <div>
        <label for="playerCardField">Enter the card you want to play?</label>
        <input name="playerCard" id="playerCardField">
        <button type="button" onclick="playerPlaceCardFunction()" id="playerCardButton">Place Card</button>
        <button type="button" onclick="drawCardFunctionPlayer()" id="drawCardButton">Draw A Card</button>
        <p id="playerCardWarning"></p>
    </div>
</form>

<form id="hiddenForm">
    <div>
        <input name="playerNumHidden" id="hiddenPlayerNumber" type="hidden" th:value="${hiddenPlayerNum}">
    </div>
</form>

<script>
            window.setTimeout(function(){
                window.location.reload();
            },5000);
</script>


<script>
function playerPlaceCardFunction() {
    console.log(document.getElementById('playerCardField').value)
    if(document.getElementById('playerCardField').value != ""){
        document.getElementById("playerCardWarning").innerHTML = "Card was sent";
        const playCardUrl = 'http://localhost:8080/PlayerPlaysCard'
        const cardValue = document.getElementById('playerCardField').value;
        const playerNumber = document.getElementById('hiddenPlayerNumber').value;
        console.log(playerNumber)
        const cardUrl = playCardUrl + "/" + playerNumber + "/" + cardValue + "/NONE";
        console.log(cardUrl)
        const response = fetch(cardUrl)
        console.log(response)

        document.getElementById('playerCardField').value = "";

    } else {
        document.getElementById("playerCardWarning").innerHTML = "No Card was selected";
        document.getElementById('playerCardField').value = "";
        window.location.reload(true);

    }

}

function drawCardFunctionPlayer(){
    const playerNumber = document.getElementById('hiddenPlayerNumber').value;
    const drawCardUrl = 'http://localhost:8080/drawCard/' + playerNumber;
    console.log(drawCardUrl);
    const response = fetch(drawCardUrl);
    console.log(response);
    document.getElementById("playerCardWarning").innerHTML = "Player Drawing a Card";
}

</script>

</body>
</html>