<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rigging Page</title>
    <script type="text/javascript" th:src="@{/gameJavascript.js}" ></script>
</head>
<body>
<h1>Rigging Game Page</h1>

<h3>Discard Pile card</h3>
<form id="DiscardPileForm">
    <div>
        <label for="discardPileText">Enter the card you at the top of the Discard Pile</label>
        <input name="DiscardPile" id="discardPileText">
        <button type="button" onclick="discardPileCardFunction()" id="discardPileButton">Place Card</button>
        <p id="discardPileWarning"></p>
    </div>
</form>

<h3>Player 1 Hand</h3>
<form id="Player1HandForm">
    <div>
        <label for="Player1HandText">Enter the cards you want to be player 1's hand</label>
        <input name="player1Hand" id="Player1HandText">
        <button type="button" onclick="player1HandRiggedFunction()" id="Player1HandButton">Change Hand</button>
        <p id="Player1HandWarning"></p>
    </div>
</form>

<h3>Player 2 Hand</h3>
<form id="Player2HandForm">
    <div>
        <label for="Player2HandText">Enter the cards you want to be player 2's hand</label>
        <input name="player2Hand" id="Player2HandText">
        <button type="button" onclick="player2HandRiggedFunction()" id="Player2HandButton">Change Hand</button>
        <p id="Player2HandWarning"></p>
    </div>
</form>

<h3>Player 3 Hand</h3>
<form id="Player3HandForm">
    <div>
        <label for="Player3HandText">Enter the cards you want to be player 3's hand</label>
        <input name="player3Hand" id="Player3HandText">
        <button type="button" onclick="player3HandRiggedFunction()" id="Player3HandButton">Change Hand</button>
        <p id="Player3HandWarning"></p>
    </div>
</form>

<h3>Player 4 Hand</h3>
<form id="Player4HandForm">
    <div>
        <label for="Player4HandText">Enter the cards you want to be player 4's hand</label>
        <input name="player4Hand" id="Player4HandText">
        <button type="button" onclick="player4HandRiggedFunction()" id="Player4HandButton">Change Hand</button>
        <p id="Player4HandWarning"></p>
    </div>
</form>

</body>
</html>